.container {
  margin: 0 auto 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

mat-card {
  background-color: #fff;
  color: #000;
}

.image {
  max-width: 300px;
}

mat-card-actions {
  display: flex;
  gap: 10px;
}
