<mat-toolbar color="primary">
  <mat-toolbar-row>
    <div class="toolbar no-select" routerLink="">
      <mat-icon class="toolbar icon">home</mat-icon>
      <span>Online Shop</span>
    </div>
    <span class="example-spacer"></span>
    <div class="toolbar no-select">
      <button
        class="toolbar button"
        mat-flat-button
        color="primary"
        routerLink=""
      >
        Home
      </button>
      <button
        class="toolbar button"
        mat-flat-button
        color="primary"
        routerLink="products"
        >
          Products
        </button>
      <button
        class="toolbar button"
        mat-flat-button
        color="primary"
        routerLink="basket"
        >
          Basket
        </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
